# Gradle
.gradle/
build/
app/build/

# Android / IDE
local.properties
*.iml
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.DS_Store

# Kotlin
.kotlin/

# Logs / captures
*.log
captures/
